<div class="Veg">
  <img src="{{ recipes.poster }}" alt="img" class="image" />
  <div class="flex">
    <div class="flex1">
      <h3>{{ recipes.title }}</h3>
      <div class="icons">
        <mat-icon
          (click)="clickmethod()"
          color="primary"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon=" stat 1
          "
        ></mat-icon>

        <mat-icon
          (click)="clickmethods()"
          color="primary"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon=" stat 1
          "
        ></mat-icon>
      </div>
    </div>
    <h3>⭐{{ recipes.rating }}</h3>
  </div>
  <h4>{{ recipes.timeTaken }}</h4>
  <div class="typeDelete">
    <h4 class="type">Type: {{ recipes.type }}</h4>
    <mat-icon
      (click)="deleteRecioe()"
      color="primary"
      aria-hidden="false"
      aria-label="delete icon"
      fontIcon="delete"
    ></mat-icon>
  </div>
  <div class="button"></div>
  @if(show) {
  <div class="summary">
    <h4>Procedure:</h4>
    <p>{{ recipes.procedure }}</p>
  </div>

  } @if(shown) {
  <div class="summary">
    <h4>Ingredients:</h4>
    <p>{{ recipes.ingredients }}</p>
  </div>
  }
</div>
<!-- <h1>works</h1> -->
