<div class="Veg">
  <img src="{{ recipes.poster }}" alt="img" class="image" />
  <div class="flex">
    <div class="flex1">
      <h3>{{ recipes.title }}</h3>

      <button (click)="clickmethod()" mat-stroked-button>Description</button>
      <button (click)="clickmethods()" mat-stroked-button>ingredients</button>
    </div>
    <h4>⭐{{ recipes.rating }}</h4>
  </div>
  <h4>{{ recipes.timeTaken }}</h4>
  <h4>{{ recipes.type }}</h4>

  <div class="button"></div>

  @if(show) {
  <div class="summary">
    <p>{{ recipes.procedure }}</p>
  </div>

  } @if(shown) {
  <div class="summary">
    <p>{{ recipes.ingredients }}</p>
  </div>
  }
</div>
<!-- <h1>works</h1> -->
