<mat-card appearance="outlined" class="main-container">
  <mat-card-content>
    <div class="Veg">
      <img src="{{ recipes.poster }}" alt="img" class="image" />
      <div class="flex">
        <div class="flex1">
          <h3>{{ recipes.title }}</h3>
        </div>
        <h3>⭐{{ recipes.rating }}</h3>
      </div>
      <div
        class="buttons"
        style="display: flex; justify-content: space-between"
      >
        <button mat-raised-button (click)="clickmethod()">Procedure</button>
        <button mat-raised-button (click)="clickmethods()">Ingredients</button>
      </div>

      <h4>{{ recipes.timeTaken }}</h4>
      <div class="typeDelete">
        <h4 class="type">Type: {{ recipes.type }}</h4>
        <mat-icon
          (click)="deleteRecioe()"
          color="primary"
          aria-hidden="false"
          aria-label="delete icon"
          fontIcon="delete"
        ></mat-icon>
      </div>
      <div class="button"></div>
      @if(show) {
      <div class="summary">
        <h4>Procedure:</h4>
        <p>{{ recipes.procedure }}</p>
      </div>

      } @if(shown) {
      <div class="summary">
        <h4>Ingredients:</h4>
        <p>{{ recipes.ingredients }}</p>
      </div>
      }
    </div>
    <!-- <h1>works</h1> -->
  </mat-card-content>
</mat-card>
