<div class="homepage">
  <header>
    <h1>Welcome to The Flavor Factory!</h1>
    <p>Your Ultimate Destination for Delicious Discoveries</p>
  </header>
  <section class="intro">
    <p>
      At The Flavor Factory, we believe cooking should be fun, adventurous, and
      full of flavor! Whether you're a seasoned chef or just starting your
      culinary journey, our recipes will inspire you to create magic in the
      kitchen.
    </p>
  </section>
  <section class="funny-lines">
    <p class="funny-line">
      "If we’re not supposed to have midnight snacks, why is there a light in
      the fridge?"
    </p>

    <img
      src="https://media.licdn.com/dms/image/D5612AQGKglGby94DXg/article-cover_image-shrink_600_2000/0/1701956058329?e=2147483647&v=beta&t=HcD8WO7YeCdfNLcLMS-2CG9ORqEKj52WrCmPlu3bOcQ"
      alt=""
    />
  </section>
  <section class="call-to-action">
    <h2>Ready to Get Started?</h2>
    <p>
      Discover new recipes, share your culinary creations, and join a community
      of food enthusiasts just like you!
    </p>
    <button mat-raised-button color="primary" (click)="startCooking()">
      Start Cooking
    </button>
  </section>
</div>
